<% include templet/header.ejs %>

<h1>Hello World</h1>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta quaerat facere, rerum quisquam perferendis, officiis
    impedit reprehenderit distinctio, eaque similique autem? Repudiandae, numquam facilis praesentium culpa laudantium
    libero mollitia corrupti!</p>

<% include templet/header.ejs %>